{erl_opts, [debug_info]}.
{plugins, [
  {rebar3_lint,
   {git, "https://github.com/project-fifo/rebar3_lint.git",
    {tag, "0.1.4"}}
  }
]}.
{deps, [
  {oauth2, {git, "https://github.com/kivra/oauth2.git", {branch, master}}},
  {mongopool,
   {git, "https://github.com/hachreak/mongopool.git", {branch, master}}}
]}.
{cover_enabled, true}.
{profiles, [
  {test, [
    {deps, [
      {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
    ]}
  ]}
]}.
