{erl_opts, [debug_info]}.
{plugins, []}.
{deps, [
  {oauth2,
    {git, "https://github.com/hachreak/oauth2.git",
      {branch, esenshub_branch}}},
  {oauth2_scope_strategies,
    {git, "https://github.com/hachreak/oauth2_scope_strategies.git",
      {branch, master}}},
  {mongopool,
    {git, "https://github.com/hachreak/mongopool.git", {branch, master}}}
]}.
{cover_enabled, true}.
{profiles, [
  {test, [
    {deps, [
      {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
    ]}
  ]}
]}.
