{erl_opts, [debug_info]}.
{deps, [
  {oauth2, {git, "git://github.com/kivra/oauth2", {branch, master}}},
  {mongopool,
   {git, "https://github.com/hachreak/mongopool.git", {branch, master}}},
  {confirmator_mongopool,
   {git, "https://github.com/hachreak/confirmator_mongopool.git",
    {branch, master}}},
  {pushmail,
    {git, "https://github.com/hachreak/pushmail.git", {branch, master}}}
]}.
{cover_enabled, true}.
{profiles, [
  {test, [
    {deps, [
      {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}}
    ]}
  ]}
]}.
