[
  {mongopool, [
    {pools,
      [
        {mypool,
          [
            {size, 10},
            {max_overflow, 30}
          ],
          [
            {database, <<"test">>},
            {host, db}
          ]
        }
      ]
    }
  ]},
  {oauth2_mongopool, [
    {pool, mypool}
  ]},
  {oauth2, [
    {backend, oauth2_backend_mongopool}
  ]}
].
