[
  {mongopool, [
    {pools,
      [
        {mypool,
          [
            {size, 10},
            {max_overflow, 30}
          ],
          [
            {database, <<"test">>},
            {host, db}
          ]
        }
      ]
    }
  ]},
  {confirmator, [
    {backend, confirmator_mongopool}
  ]},
  {confirmator_mongopool, [
    {pool, mypool},
    {table, <<"confirmator">>}
  ]},
  {pushmail, [
    {backend, pushmail_backend_error_logger}
  ]},
  {oauth2_mongopool, [
    {pool, mypool}
  ]},
  {oauth2, [
    {backend, oauth2_backend_mongopool}
  ]}
].
